[Unit]
Description=PLDM daemon

[Service]
ExecStart=/usr/bin/pldmd
Type=dbus
BusName=xyz.openbmc_project.pldm
SyslogIdentifier=pldmd
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target

