[Unit]
Description=MCTP Daemon

[Service]
ExecStart=/usr/bin/mctpd -b %i
SyslogIdentifier=mctpd-%i
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
